.text-platzi {
  color: #F2A71B !important;
}
.btn-linux{
  background-image: linear-gradient(to right top, #d8d1ca, #c2bab6, #aaa3a2, #928e8e, #7b797a, #7b797a, #7b797a, #7b797a, #928e8e, #aaa3a2, #c2bab6, #d8d1ca);
  color: white;
}

.btn-buscar{
  background-image: linear-gradient(to right top, #d8d1ca, #c2bab6, #aaa3a2, #928e8e, #7b797a, #7b797a, #7b797a, #7b797a, #928e8e, #aaa3a2, #c2bab6, #d8d1ca);
  color: white;
}
.btn-ponente{
  background-image: linear-gradient(to right top, #f6dec7, #e8c8aa, #d9b38e, #ca9e73, #bb8a59, #bb8a59, #bb8a59, #bb8a59, #ca9e73, #d9b38e, #e8c8aa, #f6dec7);
  color: white;
}
.btn-enviar{
  background-image: linear-gradient(to right top, #b7aecd, #aca1c8, #a294c3, #9787bd, #8d7ab8, #8d7ab8, #8d7ab8, #8d7ab8, #9787bd, #a294c3, #aca1c8, #b7aecd);
  color: white;
}

.modal-content{
  background-image: linear-gradient(to right top, #d5a6e3, #d2a1e0, #ce9cdd, #cb97da, #c792d7, #c792d7, #c792d7, #c792d7, #cb97da, #ce9cdd, #d2a1e0, #d5a6e3);
}

.btn-Registrarse{
  background-image: linear-gradient(to right top, #95ceec, #89c7e8, #7cbfe3, #6fb8df, #62b1db, #62b1db, #62b1db, #62b1db, #6fb8df, #7cbfe3, #89c7e8, #95ceec);
  color: white;
}

.btn-mas{
  background-image: linear-gradient(to right top, #79aeae, #6fa1a1, #649494, #5a8787, #507b7b, #507b7b, #507b7b, #507b7b, #5a8787, #649494, #6fa1a1, #79aeae);
  color: white;
}

#speakers{
  background-image: linear-gradient(to right top, #7df4dc, #6ee9d0, #5edfc4, #4dd4b8, #3bcaac, #3bcaac, #3bcaac, #3bcaac, #4dd4b8, #5edfc4, #6ee9d0, #7df4dc);
}

#conviertete-en-orador{
  background-image: linear-gradient(to right top, #ffffff, #f0f0f2, #e0e2e5, #cfd4d8, #bec6cb, #bec6cb, #bec6cb, #bec6cb, #cfd4d8, #e0e2e5, #f0f0f2, #ffffff);
}



.btn-linux:hover{
  background-color: #fdbb2d;
}
.btn-platzi {
  background-color: #D97904;
  color: white;
}

.btn-platzi:hover {
  background-color: #F2A71B;
}

#header img {
  width: 80px;
}
#header {
  background-image: linear-gradient(to right top, #c667ec, #be65e2, #b662d7, #ae60cd, #a65dc3, #a65dc3, #a65dc3, #a65dc3, #ae60cd, #b662d7, #be65e2, #c667ec);
}
#main .carousel-inner img {
  max-height: 90vh;
  object-fit: cover;
  filter: grayscale(90%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #F9F9F9;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#menu{
  background-image: linear-gradient(to right top, #9f67e9, #975fe1, #8f56d9, #874ed2, #7f45ca, #7f45ca, #7f45ca, #7f45ca, #874ed2, #8f56d9, #975fe1, #9f67e9);
  color: black;
}
#place-time {
  background-image: linear-gradient(to right top, #0c8989, #0b7878, #0a6868, #085858, #074949, #074949, #074949, #074949, #085858, #0a6868, #0b7878, #0c8989);
  color: white;
}

#place-time img {
  max-width: 100%;
}

#footer {
  background-image: linear-gradient(to right top, #eec8a6, #eebb8d, #edad75, #eb9f5d, #e99145, #e99145, #e99145, #e99145, #eb9f5d, #edad75, #eebb8d, #eec8a6);
}

#footer a {
  color: white;
}
